<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>
            
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Authentification</h1>

                <!-- show any messages that come back with authentication -->
                <% if(typeof(error) != 'undefined' && error.length > 0) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
                <% if(typeof(success) != 'undefined' && success.length > 0) { %>
                    <div class="alert alert-success"><%= success %></div>
                <% } %>
              
                <p>Se connecter ou s'enregistrer avec :</p>
                <div class="login">
                    <a href="/auth/login" class="btn btn-default local-login"><span class="fa fa-user"></span> Connexion Locale</a>
                    <a href="/auth/signup" class="btn btn-default local-signup"><span class="fa fa-user"></span> Inscription Locale</a>
                </div>
                <div class="login">
                    <a href="/auth/facebook" class="btn btn-primary facebook"><span class="fa fa-facebook"></span> Connexion Facebook</a>
                    <a href="/auth/google" class="btn btn-danger google"><span class="fa fa-google-plus"></span> Connexion Google</a>
                    <a href="/auth/linkedin" class="btn btn-info linkedin"><span class="fa fa-linkedin"></span> Connexion LinkedIn</a>
                </div>
            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>