<!-- views/pages/public/projects/wizard-escape.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> Contactez-moi</h1>

                <!-- show any messages that come back with authentication -->
                <% if(typeof(error) != 'undefined' && error.length > 0) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
                <% if(typeof(success) != 'undefined' && success.length > 0) { %>
                    <div class="alert alert-success"><%= success %></div>
                <% } %>
                
                <% if(locals.user) { %>
                <!-- CONTACT FORM -->
                <form action="/contact-me" method="post">
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Envoyer</button>
                </form>
                <% } else { %>
                <h2>Connectez-vous pour me contacter !</h2>
                
                <p>Pas encore de compte ? <a href="/auth/signup">S'enregistrer</a></p>
                <p>Ami de Facebok ou de Google ? <a href="/auth">Se connecter</a></p>
                <p>Retourner à l'<a href="/">Accueil</a></p>
                
                <% } %>
                <hr>

            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>