<!-- views/pages/profile.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="page-header text-center">
                <h1 class="title"><span class="fa fa-user"></span> Informations personnelles</h1>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <!-- LOCAL INFORMATION -->
                        <h2 class="text"><span class="fa fa-user"></span> Local</h2>
                        <form method="POST">
  <!--                            <strong>id</strong>: <%= locals.user.user_id %><br>-->
                              <strong>Email</strong> : <input type="text" value="<%= locals.user.email %>" name="email" /><br>
                              <strong>Nom</strong> : <input type="text" value="<%= locals.user.name %>" name="name" /><br>
                              <strong>Image de profil</strong> : <input type="text" placeholder="url de l'image" value="<%= locals.user.image %>" name="image" oninput="this.nextElementSibling.nextElementSibling.firstChild.src = this.value;"/><br><br>
                              <% if (typeof(locals.user.image) != 'undefined') { %>
                                  <div class="square-img">
                                      <img src="<%= locals.user.image %>" onerror="this.src = '<%= locals.user.image %>';" />
                                  </div>
                              <% } %>
                              <br>
                              <div class="text-center"><input type="submit" value="Modifier" /></div>
                        </form>

                    </div>
                </div>
            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>