<!-- views/pages/public/projects/merchant.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.min.js"></script>
            <div class="jumbotron" ng-app="merchantComp">
                <h1>Welcome to the Comp Sharing Tool !</h1>
                <p>Fill the form below with the informations needed then click the "Generate" button.</p>
                <form action="" ng-submit="submit()" ng-controller="form">
                    <fieldset style="border-radius: 5px;">
                        <div ng-controller="heroesPlacement" style="display: inline-block; vertical-align: bottom;">
                            <legend>Placement</legend>
                            <table>
                                <tbody>
                                    <% for(var i = 0; i < 3; i ++) { %>
                                        <tr>
                                        <% for(var j = 0; j < 2; j ++) { %>
                                            <td>
                                                <select ng-model="heroesPlacementSelected[<%= i * 2 + j %>]" ng-init="heroesPlacementSelected[<%= i * 2 + j %>] = heroesSchema[0]" ng-options="x.heroName for x in heroesSchema track by x.heroName" ng-change="changeHeroesPlacementSelected(heroesPlacementSelected,<%= i * 2 + j %>)">
                                                </select>
                                            </td>
                                        <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div ng-controller="monsterPlacement" style="display: inline-block; vertical-align: bottom; margin-left: 50px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>VS&nbsp;</td>
                                        <td>
                                            <select name="monsterPlacement">
                                                <option value=""></option>
                                                <optgroup label="Tuvale Forest">
                                                    <option value="101">Gathering</option>
                                                    <option value="102">Moss Golem</option>
                                                    <option value="103">Forest Treant</option>
                                                    <option value="104">Grass Spider</option>
                                                    <option value="105">Tuvale Viper</option>
                                                    <option value="106">Wild Boar</option>
                                                    <option value="107">Goblin Footman</option>
                                                    <option value="107">Goblin Enchanter</option>
                                                    <option value="108">Goblin Chieftain</option>
                                                    <option value="109">Maexna</option>
                                                </optgroup>
                                                <optgroup label="Yarsol Cove">
                                                    <option value="201">more mobs</option>
                                                </optgroup>
                                                <optgroup label="Aldur Highlands">
                                                    <option value="201">more mobs</option>
                                                </optgroup>
                                                <optgroup label="Vulkrum Badlands">
                                                    <option value="201">more mobs</option>
                                                </optgroup>
                                                <optgroup label="Grimhal Volcano">
                                                    <option value="201">more mobs</option>
                                                </optgroup>
                                                <optgroup label="Frentir Chasm">
                                                    <option value="201">more mobs</option>
                                                </optgroup>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset style="border-radius: 5px; margin-top: 20px;">
                        <legend>Skills</legend>
                        <div ng-controller="heroesPlacementSlot">
                            <table>
                                <tbody>
                                    <% for(var i = 0; i < 6; i ++) { %>
                                        <tr>
                                            <td>
                                                <select ng-model="heroesPlacementSlot[<%= i %>]" ng-init="heroesPlacementSlot[<%= i %>] = heroesSchema[0]" ng-options="x.heroName for x in heroesSchema track by x.heroName" ng-change="changeHeroesPlacementSlot(heroesPlacementSlot,<%= i %>)">
                                                </select>
                                            </td>
                                            <% for(var j = 0; j < 5; j ++) { %>
                                                <td>
<!--                                                    >-->
                                                    <select ng-model="heroesPlacementSlot[<%= i %>].selectedSpells[<%= j %>]" ng-options="y.skillName for (x, y) in heroesPlacementSlot[<%= i %>].spells" style="min-width: 110px;">
                                                    </select>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <input type="submit" value="Generate" />
                    <textarea ng-model="text">aaa</textarea>
                </form>
            </div>
            <script src="js/merchant.js"></script>
        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>